@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-color: #000000;
}

/* HEADER
--------------------------------------------*/

#head_line {
  color: #000000;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #eddcbc;
}
#head_line a {
  font-size: 27px;
}

/* nav
----------------------------------------------*/
.main-nav  {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 30px;
  list-style: none;
  justify-content: center;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #eddcbc;
}
.main-nav a:hover {
  color: #b0941e;
  border-bottom: 5px solid #fff;
}



/* ホーム
-----------------------------*/
/* スライドショー　*/
.slideshow {
  height: 465px;
  min-width: 960px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 7.5rem;
}
.slideshow img {
  display: none;
  left: 63.5%;
  margin-left: -800px;
  position: absolute;
  object-fit: cover;
}

/* こだわり部分 */
#main_homewrapper {
  background-image: url("../img/uni1.jpg");
  background-size: cover;
  object-fit: cover;
}
div.main_homewrapper {
  width: 100%;
  height: 780px;
  padding-top: 100px;
  margin-bottom: 24px;
  position: relative;
}
h1#mainwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255,255,255,.6);
}
#main_homewrapper p {
  position: absolute;
  width: 100%;
  left: 0; 
  top: calc(35% - 25px); 
  text-align: center; 
  color: #fff;
  font-weight: bold; 
  font-size: 17px;
  line-height: 50px;
  line-height: 2.5rem;
}
/* お知らせ部分 */
#main_infomation {
  background-image: url("../img/haikei.jpg");
  background-size: cover;
  margin-top: 3rem;
  object-fit: cover;
}
div.infomation {
  width: 100%;
  height: 480px;
  padding-top: 100px;
  margin-bottom: 24px;
  position: relative;
}
h1#infotext {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255,255,255,.6);
}
#main_infomation p {
  position: absolute;
  width: 100%;
  left: 0; 
  top: calc(50% - 25px); 
  text-align: center; 
  color: #000000;
  font-weight: bold; 
  font-size: 17px;
  line-height: 50px;
  line-height: 2.5rem;
}


/* 店舗情報
------------------------------------*/
#location {
  padding: 4% 5%;
  margin-top: 37px;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
  color: #eddcbc;
}
.location-info h3 {
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

.location-info dl {
  padding: 12px 10px;
  white-space: nowrap;
  font-size: 1rem;
}
.location-info dt {
  color: #b0941e;
}

.location-map {
  width: 55%;
  padding-top: 100px;
  margin-top: -100px;
}


/* iframe */
iframe {
  width: 100%;
  height: 100%;
}


/* 戻るボタン
--------------------------------------*/
#content{
  position: relative;
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
   
  /*-----装飾-----*/
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

/* 一番下のメニューバー */
.botomm-nav  {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
}
.botomm-nav li {
  margin-left: 36px;
}
.botomm-nav a {
  color: #eddcbc;
}
.botomm-nav a:hover {
  color: #b0941e;
  text-decoration: none;
}

/* フッター
---------------------*/
footer {
  background-color: #eddcbc;
  text-align: center;
  padding: 10px;
}
footer p {
  color: #000000;
  font-size: 0.875rem;
}


/*------ MENU html 
-----------------------------------*/
/* ヘッダーにボタン配置 */
#menu {
  background-color: #000000;
}

.container {
  max-width: 100%;
}
img {
  max-width: 100%;
}

.header {
  padding: 16px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  background-color: #eddcbc;
}
.title-block {
  flex: 1 1 auto;
}
.title-block h1 {
  color: #000000;
}
.hamburger {
  flex: 0 0 32px;
  align-self: center;
  margin-left: 16px;
  text-align: center;
}

/* ドロワーナビゲーションのスタイル */
#nav {
  position: fixed;
  right: -270px;
  top: 0;
  width: 270px;
  height: 100%;
}

/* 開かれた時のスタイル*/
.show {
  transform: translate3d(-270px, 0, 0);
}
#wrapper, #nav {
  transition: transform 0.3s;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
  padding: 24px 24px 0 24px;
  background: #000;
  color: white;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  font-size: 1.25rem;
}

#nav li a {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #114d60;
  text-decoration: none;
  color: #fff;
}
#nav li a:hover {
  background: #0e3e4d;
}
#nav .logo {
  margin-bottom: 20px;
}
#menu_footer {
  background-color: #eddcbc;
  text-align: center;
  padding: 20px;
}
#menu_footer p {
  color: #000000;
  font-size: 1rem;
}


/* 見出しの部分
----------------------------------*/
#menu_homewrapper {
  background-image: url("../img/kodawari_top4.jpg");
  background-size: cover;
  object-fit: cover;
}
div.homewrapper {
  width: 100%;
  height: 380px;
  padding-top: 100px;
  margin-bottom: 24px;
}
h1#menuwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255,255,255,.6);
}

/* フレックスボックス　交互のメニュー */
#wrapperbox_menu {
  margin-bottom: 30px;
 
}
.wrapperbox_menu h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}

.wrapperbox_2 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapperbox_2 h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}
.wrapperbox_2 li {  
  text-align: center;
  list-style: none;
  color: #fff;
  font-size: 1.25rem;
}
/*------ 画像とテキストの横並び -------*/
.flex{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flex  p{
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flex p img {
  width: 80%;
}
/* 奇数の行に対して指定 */
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}


/* kodawari html
--------------------------------*/
#kodawari_homewrapper {
  background-image: url("../img/kodawarihaikei2.jpg");
  background-size: cover;
  object-fit: cover;
}

.menu-nav  {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
  padding-top: 45px;
}
.menu-nav li {
  margin-left: 36px;
}
.menu-nav a {
  color: #eddcbc;
}
.-nav a:hover {
  color: #000000;
  text-decoration: none;
}
/*----- 横並び ---------*/
.flexpolicy {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flexpolicy  p{
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flexpolicy p img {
  width: 80%;
}

.flexpolicy_1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.flexpolicy_1  p{
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flexpolicy_1 p img {
  width: 80%;
}

/* contact.html 
---------------------------------------*/
#contact {
  background-color: blanchedalmond;
  min-height: 100vh;
}

/*--- フォーム ----*/
form div {
  margin-bottom: 14px;
  text-align: center;
}
h2 .page-title {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-bottom: 48px;
  font-size: 32px;
  position: relative;
  text-align: center;
}

label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;

}

/* モバイル版
---------------------------------------*/

@media (max-width: 600px) {
  /* ヘッダー部分 */


  #head_line {
    padding: 4rem;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
  }
  
  .main-nav {
    display: flex;
    width: 100%;
  }

/* ホーム部分 */

  .box {
    background-position: center;
    padding: 0;
    width: 1500px;
  }
  .box_1 {
    background-position: center;
    padding: 0;
    width: 1500px;
  }


/* 地図 */
.wrapper {
  flex-direction: column;
}  
.location-map {
    width: 1000px;
    height: 500px;
    text-align: center;
    padding: 20px 10px;
  
  }
  .location-info {
    width: 1000px;
  }
  .location-info h3 {
    font-size: 3.0rem;
  }
  .location-info p {
    font-size: 1.0rem;
  }

/* フッター */
  footer {
    width: 1500px;
    padding: 4rem;
  }


}
 