@import "variables";

// Import dependencies
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import "node_modules/slick-carousel/slick/slick.scss";

// @import "node_modules/ress/dist/ress.min.css";

@import "mixins";
@import "global";

@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-color: rgba(0, 0, 0, .85);
  color: #fff;
  margin: 0;
}
@media (max-width: 480px) {
  body, html {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
}

/* HEADER
--------------------------------------------*/
header {
  position: relative;
}
#head_line {
  color: #000000;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #eddcbc;
}
#head_line a {
  font-size: 27px;
}
@media (max-width: 480px) {
  #head_line {
    padding-bottom: 20px;
  }
  #haed_line a {
    font-size: 2.5rem;
  }

  #head_line_contact {
   display: none;
 }
}

/* nav
-----------------------------------------------------*/
///////////****** ハンバーガーアイコン*///////////////////////
.btn-burger {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/*ハンバーガーアイコンを作る三本線*/
.icon, .icon:before, .icon:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px; /*線の太さ*/
  width: 35px; /*線の長さ*/
  background-color: #444;
  border-radius: 2px;
  display: block;
  content: '';
  cursor: pointer;
  margin: auto;
}

/*三本線の間隔*/
.icon:before {
top: 20px;
}
.icon:after {
top: -20px;
}

/*チェックボックス非表示*/
.nav-toggle {
  display: none;
}

/*アイコンをクリックしたら*/
.nav-toggle:checked ~ .btn-burger .icon {
  background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
  transform: rotate(45deg);
  top: 0;
}

.icon,
.icon:before,
.icon:after {
  transition: all .8s;
}


/*中身*/
.nav1 {
  background-color: #000000;
  
}
.nav-list1 a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-list1 {
  list-style: none;
  display: none;
  margin: 0;
  padding-left: 20px;
}

.nav-list1 li {
  margin: 0;
  padding: 10px;
}

.nav-toggle:checked ~ .nav1 .nav-list1 {
  display: block;
}
/* --------------------------------------------------
幅768px以上のスタイル指定 ここから
-------------------------------------------------- */
@media screen and (min-width: 768px) {
/* ハンバーガーボタン */
  .btn-burger {
    display: none;  /*768px以上では使用しない */
  }
  .nav-toggle:checked ~ .nav1 .nav-list1 {
    display: none;
  }
  .nav {
    height: 75px;
  }
  .nav-list1 {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
  }
  .nav-list1 li:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .nav-list1 a {
    font-size: 1.25rem;
    color: #eddcbc;
  }
  .nav-list1 a:hover {
    color: #b0941e;
    text-decoration: none;
  }
}
/* ホーム
-----------------------------*/
/* スライドショー　*/
#carouselExampleFade img {
  height: 500px;
  object-fit: cover;
  margin-bottom: 55px;
}

@media (max-width: 480px) {
  #carouselExampleFade img {
    width: auto;
    object-fit: cover;
    height: 280px;
  }

}

/*--- こだわり部分 -----*/
#main_homewrapper {
  background-image: url(../img/1600uni.jpg);
  object-fit: cover;
  height: 580px;
  padding-top: 45px;
  margin-bottom: 24px;
  h1 {
    width: 376px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 34px;
    color: #595757;
    background-color: rgba(255, 255, 255, .6);
  }
  #mainwrapper a {
    text-decoration: none;
    color: #595757;
  }
}
#main_homewrapper .pc-only {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  top: calc(35% - 25px);
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  line-height: 2.5rem;
}

@media (max-width: 480px) {
  #main_homewrapper {
    background-image: url(../img/sp.kodawari.jpg); 
    width: auto;
    object-fit: cover;
    height: auto;   
  }
  #main_homewrapper h1 {
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
  }
  p {
    top: calc(15% - 20px);
    padding: 15px;
    line-height: 1.75rem;
  }
  #main_homewrapper .pc-only {
    display: none;
    margin: auto;
  }
  .sp-only {
    text-align: center;
    color: #fff;
    margin: 10px 20px;
    font-size: 0.95rem;
  }
  ////////////////////////////////////////
  #main_homewrapper2 {
    background-image: url(../img/sp.kodawari.jpg); 
    width: auto;
    object-fit: cover;
    height: auto;   
  }
  #main_homewrapper2 h1 {
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
    text-align: center;
    color: #595757;
    background-color: rgba(255, 255, 255, .6);
  }
  #main_homewrapper2 p {
    top: calc(15% - 20px);
    padding: 15px;
    line-height: 1.75rem;
  }
}

/* お知らせ部分 */
#main_infomation {
  background-image: url(../img/haikei.jpg);
  margin-top: 3rem;
  object-fit: cover;
}
div.infomation {
  width: 100%;
  height: 480px;
  padding-top: 45px;
  margin-bottom: 24px;
}
h1#infotext {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(12, 12, 12, 0.116);
}
#main_infomation p {
  text-align: center;
  width: 100%;
  left: 0;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  line-height: 2.5rem;
  margin-top: 20px;
}
div.infomation .info {
  width: 250px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(12, 12, 12, 0.116);
  text-align: center;
  display: block;
  margin: 40px auto;
  border: 1px solid rgba(252, 244, 244, 0.185);
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 480px) {
  #main_infomation {
    display: none;
  }
}


/* 店舗情報
------------------------------------*/
#location {
  padding: 4% 5%;
  margin-top: 37px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.location-info {
  width: 22%;
  color: #eddcbc;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
  }

  dl {
    padding: 12px 10px;
    white-space: nowrap;
    font-size: 1rem;
  }
  // word-wrap: break-word;
  dt {
    color: #b0941e;
  }
 
  .location-map {
    width: 600px;
    height: 700px;
    padding-top: 50px;
    margin-top: -50px;
  }

/* 地図 */
@media (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }
  .location-map {
    width: auto;
    height: 250px;
    text-align: center;
    padding: 20px 10px;
  }
  .location-info {
    width: 100%;
    margin: auto;
  }
  .location-info h3 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px){
  .br-sp {display: none; }
  }

/* iframe */
iframe {
  width: 100%;
  height: 100%;
}


/* 戻るボタン
--------------------------------------*/
#content {
  position: relative;
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;

  /*-----装飾-----*/
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

@media (max-width: 480px) {
  #content {
    display: none;
  }
}

/* 一番下のメニューバー */
.botomm-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
}
.botomm-nav li {
  margin-left: 36px;
}
.botomm-nav a {
  color: #eddcbc;
  text-decoration: none;
}
.botomm-nav a:hover {
  color: #b0941e;
  text-decoration: none;
}
@media (max-width: 480px) {
  .botomm-nav {
    display: none;
  }
}


/* フッター
---------------------*/
footer {
  background-color: #eddcbc;
  text-align: center;
  padding: 10px;
}
footer p {
  color: #000000;
  font-size: 0.875rem;
}

@media (max-width: 480px) {
  footer {
    padding: 0.1px 0;
  }
}


/*------ MENU html
-----------------------------------*/
/* ヘッダーにボタン配置 */
#menu {
  background-color: rgba(0, 0, 0, .85);
}
.container {
  max-width: 100%;
}
img {
  max-width: 100%;
}

.header {
  padding: 16px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  background-color: #eddcbc;
}
.title-block {
  flex: 1 1 auto;
}
.title-block h1 {
  color: #000000;
}
.hamburger {
  flex: 0 0 32px;
  align-self: center;
  margin-left: 16px;
  text-align: center;
}

/* ドロワーナビゲーションのスタイル */
#nav {
  position: fixed;
  right: -270px;
  top: 0;
  width: 270px;
  height: 100%;
}

/* 開かれた時のスタイル*/
.show {
  transform: translate3d(-270px, 0, 0);
}
#wrapper, #nav {
  transition: transform 0.3s;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
  padding: 24px 24px 0 24px;
  background: #000;
  color: white;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  font-size: 1.25rem;
}

#nav li a {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #b0941e;
  text-decoration: none;
  color: #fff;
}
#nav li a:hover {
  background: #0e3e4d;
}
#nav .logo {
  margin-bottom: 20px;
}
#menu_footer {
  background-color: #eddcbc;
  text-align: center;
  padding: 20px;
}
#menu_footer p {
  color: #000000;
  font-size: 1rem;
}


/* 見出しの部分
----------------------------------*/
#menu_homewrapper {
  background-image: url(../img/menu1600toro.jpg);
  background-size: cover;
  object-fit: cover;
}
div.homewrapper {
  width: 100%;
  height: 420px;
  padding-top: 100px;
  margin-bottom: 24px;
}
#menu_homewrapper .menuwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255, 255, 255, .6);
}

@media (max-width: 480px) {
  #menu_homewrapper {
    width: 100%;
    height: 200px;
  }
  div.menu_homewrapper {
    width: 100%;
  }
  #menu_homewrapper .menuwrapper {
  width: 130px;
  height: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  }
  div.homewrapper {
    padding-top: 40px;
  }
}

/* フレックスボックス　交互のメニュー */
#wrapperbox_menu {
  margin-bottom: 30px;

}
.wrapperbox_menu h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}

.wrapperbox_2 {
  text-align: center;
  margin-bottom: 100px;
}
.wrapperbox_2 h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}
.wrapperbox_2 li {
  text-align: center;
  list-style: none;
  color: #fff;
  font-size: 1.25rem;
}
.drink {
  margin-top: 20px;
}

/*------ 画像とテキストの横並び -------*/
.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flex p {
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flex p img {
  width: 80%;
}
/* 奇数の行に対して指定 */
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (max-width: 480px) {
  .flex {
    display: block;
  }
  .flex p {
    width: auto;
  }
  .flex p img {
    width: 100%;
  }
  .wrapperbox_menu h2 {
    font-size: 1.15rem;
    margin-top: 30px;
    padding-bottom: 0px;
  }
  .wrapperbox_menu li {
    font-size: 1rem;
  }
  .wrapperbox_2 h2 {
    font-size: 1.2rem;
  }
  .wrapperbox_2 li {
    font-size: 1.1rem;
  }
  .drink  {
    margin-top: 30px;
  }
}

/* 戻るボタン
--------------------------------------*/
@media (max-width: 480px) {
#content{
  position: relative;
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;

  /*-----装飾-----*/
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #333;
  color: #fff;
  }
}

/* kodawari html
--------------------------------*/
#kodawari_homewrapper {
  background-image: url(../img/kodawari1600syokunin.jpg);
  background-size: cover;
  object-fit: cover;
}
#kodawari_homewrapper .menuwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255, 255, 255, .6);
}
/*----- 横並び ---------*/
.flexpolicy {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flexpolicy p {
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flexpolicy p img {
  width: 80%;
}
/* 奇数の行に対して指定 */
.flexpolicy:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (max-width: 480px) {
  #kodawari_homewrapper {
    width: 100%;
    height: 200px;
  }
  #kodawari_homewrapper .menuwrapper {
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
    }

  .flexpolicy {
    display: block;
  }
  .flexpolicy p {
    width: auto;
  }
  .flexpolicy p img {
    width: 100%;
  }
  .wrapperbox_menu h2 {
    font-size: 1.15rem;
    margin-top: 30px;
    padding-bottom: 0px;
    padding-bottom: 15px;
  }
  .wrapperbox_menu li {
    font-size: 1rem;
  }
}

/* contact.html
---------------------------------------*/
#contact_homewrapper {
  background-image: url(../img/contact1600hashi.jpg);
  background-size: cover;
  object-fit: cover;
}
#contact_homewrapper .menuwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255, 255, 255, .6);
}
#contact {
  background-color: rgba(61, 60, 60, 0);
  min-height: 100vh;
  padding-top: 45px;
}

/*--- フォーム ----*/
.contactwrapper {
  text-align: center;
  font-size: 18px;
  margin: 30px 0 40px;
  color: #eddcbc;
}
#contact p {
  margin-bottom: 30px;
  color: #fff;
  padding-bottom: 30px;
}
form div {
  margin-bottom: 14px;
  text-align: center;
  color: #fff;
}
 .page-title {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-bottom: 48px;
  font-size: 32px;
  position: relative;
  text-align: center;
}

label {
  font-size: 1.125rem;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}
input[type="text"],
input[type="email"],
textarea {
  background: #eddcbc;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
  margin-bottom: 30px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 2; 
  padding: 10px 20px;
  margin-bottom: 25px;
  background: #eddcbc
 }

 @media (max-width: 480px) {
  #contact_homewrapper {
    width: 100%;
    height: 200px;
  }
  #contact_homewrapper .menuwrapper {
    width: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 1.25rem;
  }
  #contact p {
    font-size: 1rem;
    padding: 20px;
  }
  .page-title {
    font-size: 1.2rem;
  }
  /* 送信フォーム */
  .textarea {
    width: 80%;
    max-width: 480px;
     height: 6rem;
  }
}

/* モバイル版
---------------------------------------*/

@media (max-width: 480px) {
  /*画面サイズが480px以下の場合ここの記述が適用される　*/
  /*共通*/
  /* ヘッダー部分 */
  #head_line {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .main-nav {
    display: none
  }
  .botomm-nav {
    display: none
  }
  /* ホーム部分 */
  body {
    line-height: 28px;
    font-size: 14px;
  }
}
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc-only { display: block !important; }
.sp-only { display: none !important; }

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 480px) {
    .pc-only { display: none !important; }
    .sp-only { display: block !important; }
}


