@import "variables";

// Import dependencies
@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import "node_modules/slick-carousel/slick/slick.scss";

// @import "node_modules/ress";

@import "mixins";
@import "global";

@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-color: #eddcbc;
}

/* HEADER
--------------------------------------------*/

#head_line {
  color: #eddcbc;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #000;
}
#head_line a {
  font-size: 27px;
}

/* nav
----------------------------------------------*/
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #b0941e;
}
.main-nav a:hover {
  color: #000000;
  border-bottom: 5px solid #fff;
}

/* スライダー
-----------------------*/

.slider img {
  background-size: cover;
  height: 100vh;
  width: auto\9; /* ie8 */
  margin: 0 auto;
}

.slider {
  margin: 0 auto;
  padding: 0 0 48px;
  outline: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ホーム
-----------------------------*/
/* 中央部分*/
.box {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border: none;
  margin-bottom: 100px;
}

.text {
  width: 100%;
  text-align: center;
  list-style: none;
  padding-top: 20px;
}

h3 {
  font-size: 40px;
  margin: 0;
  padding-bottom: 20px;
}

.text li {
  font-size: 26px;
  color: #000000;
}
.text p {
  font-size: 20px;
}
.photos {
  max-width: 100%;
  text-align: center;
  min-height: 0%;
  margin-bottom: 50%;
}

.photos img {
  max-width: 100%;
  height: 550px;
  box-shadow: 0 0 8px rgb(24, 1, 1);
}

/* 横並び */
.box_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border: none;
  margin-bottom: 100px;
}
.box_1 p {
  text-align: left;
  margin-left: 73px;
}

.box_1 li {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1.25rem 3rem;
  margin-top: 40px;
  color: #fff;
}

/* 画像アニメーション*/
.photos {
  position: relative;
}

.photos img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto;
  animation: photo 25s infinite;
  opacity: 0;
}

@keyframes photo {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.photos img:nth-of-type(1) {
  animation-delay: 0s;
}
.photos img:nth-of-type(2) {
  animation-delay: 5s;
}
.photos img:nth-of-type(3) {
  animation-delay: 10s;
}
.photos img:nth-of-type(4) {
  animation-delay: 15s;
}
.photos img:nth-of-type(5) {
  animation-delay: 20s;
}

/* 店舗情報
------------------------------------*/
#location {
  padding: 4% 5%;
  margin-top: 37px;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
  color: #000000;
}
.location-info h3 {
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

.location-info dl {
  padding: 12px 10px;
  white-space: nowrap;
  font-size: 1rem;
}
.location-info dt {
  color: #b0941e;
}

.location-map {
  width: 55%;
  padding-top: 100px;
  margin-top: -100px;
}

/* iframe */
iframe {
  width: 100%;
  height: 100%;
}

/* 戻るボタン
--------------------------------------*/
#content {
  position: relative;
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;

  /*-----装飾-----*/
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

/* フッター
---------------------*/
footer {
  background-color: #000000;
  text-align: center;
  padding: 20px;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* 一番下のメニューバー */
.botomm-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
}
.botomm-nav li {
  margin-left: 36px;
}
.botomm-nav a {
  color: #b0941e;
}
.botomm-nav a:hover {
  color: #000000;
  text-decoration: none;
}

/*------ MENU html
-----------------------------------*/
/* ヘッダーにボタン配置 */
#menu {
  background-color: #000000;
}

.container {
  max-width: 100%;
}
img {
  max-width: 100%;
}

.header {
  padding: 16px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  background-color: #eddcbc;
}
.title-block {
  flex: 1 1 auto;
}
.title-block h1 {
  color: #000000;
}
.hamburger {
  flex: 0 0 32px;
  align-self: center;
  margin-left: 16px;
  text-align: center;
}

/* ドロワーナビゲーションのスタイル */
#nav {
  position: fixed;
  right: -270px;
  top: 0;
  width: 270px;
  height: 100%;
}

/* 開かれた時のスタイル*/
.show {
  transform: translate3d(-270px, 0, 0);
}

#wrapper,
#nav {
  transition: transform 0.3s;
}

/* ===== 装飾的なCSS ===== */

/* メニュー */
#nav {
  padding: 24px 24px 0 24px;
  background: #000;
  color: white;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  font-size: 1.25rem;
}

#nav li a {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #114d60;
  text-decoration: none;
  color: #fff;
}
#nav li a:hover {
  background: #0e3e4d;
}
#nav .logo {
  margin-bottom: 20px;
}
#menu_footer {
  background-color: #eddcbc;
  text-align: center;
  padding: 20px;
}
#menu_footer p {
  color: #000000;
  font-size: 1rem;
}

/* 中身のメニュー部分
----------------------------------*/
#menu_homewrapper {
  background-image: url("../img/uni1.jpg");
  background-size: cover;
}
div.homewrapper {
  width: 100%;
  height: 380px;
  padding-top: 100px;
  margin-bottom: 24px;
}
h1#menuwrapper {
  width: 376px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #595757;
  background-color: rgba(255, 255, 255, 0.6);
}

/* フレックスボックス　交互のメニュー */
#wrapperbox_menu {
  margin-bottom: 30px;
}
.wrapperbox_menu h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}

.wrapperbox_2 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapperbox_2 h2 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 30px;
}
.wrapperbox_2 li {
  text-align: center;
  list-style: none;
  color: #fff;
  font-size: 1.25rem;
}
/*------ 画像とテキストの横並び -------*/
.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flex p {
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flex p img {
  width: 80%;
}
/* 奇数の行に対して指定 */
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}

/* kodawari html
--------------------------------*/
#kodawari_homewrapper {
  background-image: url("../img/kodawari_top4.jpg");
  background-size: cover;
}

.menu-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
  padding-top: 45px;
}
.menu-nav li {
  margin-left: 36px;
}
.menu-nav a {
  color: #eddcbc;
}
.-nav a:hover {
  color: #000000;
  text-decoration: none;
}
/*----- 横並び ---------*/
.flexpolicy {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.flexpolicy p {
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flexpolicy p img {
  width: 80%;
}

.flexpolicy_1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.flexpolicy_1 p {
  width: 43%;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}
.flexpolicy_1 p img {
  width: 80%;
}

/*  試し　スライドショー
-----------------------------*/
.slideshow {
  height: 465px;
  min-width: 960px;
  overflow: hidden;
  position: relative;
}
.slideshow img {
  display: none;
  left: 50%;
  margin-left: -800px;
  position: absolute;
}

/* モバイル版
---------------------------------------*/

@media (max-width: 600px) {
  /* ヘッダー部分 */

  #head_line {
    padding: 4rem;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
  }

  .main-nav {
    display: flex;
    width: 100%;
  }

  /* ホーム部分 */

  .box {
    background-position: center;
    padding: 0;
    width: 1500px;
  }
  .box_1 {
    background-position: center;
    padding: 0;
    width: 1500px;
  }

  /* 地図 */
  .wrapper {
    flex-direction: column;
  }
  .location-map {
    width: 1000px;
    height: 500px;
    text-align: center;
    padding: 20px 10px;
  }
  .location-info {
    width: 1000px;
  }
  .location-info h3 {
    font-size: 3rem;
  }
  .location-info p {
    font-size: 1rem;
  }

  /* フッター */
  footer {
    width: 1500px;
    padding: 4rem;
  }
}
